{% extends "base.html" %}

{% block content %}
  <h1>Heroes</h1>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Hero</th>
        <th>Phase</th>
        <th>Default Aspect</th>
      </tr>
    </thead>
    <tbody>
      {% for h in heroes %}
      <tr>
        <td><a href={{ url_for('single_hero', hero_id=h.id) }}>{{ h.name }}</a></td>
        <td>{{ h.phase.phasename }}</td>
        {{ h.default_aspect.as_cell()|safe }}
        <td><a href={{ url_for('hero_update', hero_id=h.id) }}>Edit</a></td>
        <td><a href={{ url_for('hero_delete', hero_id=h.id) }}>Delete</a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <a href={{ url_for('hero_create') }}><button class="btn btn-primary mb-3" id="add" name="add" type="add" value="Add">Add</button></a>
{% endblock %}