{% extends "base.html" %}

{% block content %}
    {% for phase in phases %}
    <div>
        <h2>{{ phase.phasename }}</h2>
        <p>
            <em>Villains: </em>
            {% for v in phase.villains %}
                {{ v.name }}
            {% endfor %}
        </p>
        <p>
            <em>Heroes: </em>
            {% for h in phase.heroes %}
                {{ h.name }}({{ h.default_aspect.name }})
            {% endfor %}
        </p>
    </div>
    {% endfor %}
{% endblock %}
